@font-face {
    font-family: "OurFont";
    src: url("../font/HaTian-SuiXing.ttf") format("truetype");
    font-weight: normal;
  	font-style: normal;
}


@font-face {
	font-family:"Slogan";
	src: url("../font/方正吕建德字体简体.ttf") format("truetype");
    font-weight: normal;
  	font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    font-family: Slogan;
    background-color: #c7a252;
}
.p_comment{
    position: absolute;
    width: 38%;
    height: 100%;
    background-color: #f2eada;
}
.p_user{
    position: absolute;
    top: 9.8%;
    width: 85%;
    height: 5.5%;
    color: #826858;
    font-size: 4.5vh;
    text-align: right;
    margin-right: 15%;
}
.p_cMove{
    position: absolute;
    top: 21.4%;
    width: 85%;
    height: 8%;
    color: #826858;
    font-size: 5vh;
    text-align: right;
    margin-right: 15%;
}
.p_hr{
    position: absolute;
    top: 32%;
    left: 18.4%;
    width: 74.8%;
    border-bottom: 3px solid #c7a252;
}
.div_comment{
    position: absolute;
    top: 35%;
    width: 100%;
    height: 60%;
    overflow-y:scroll;
	display: flex;
	flex-direction: column;
	padding-top: 5%;
}
/*滑动条样式*/
.div_comment::-webkit-scrollbar {
    display: none;
}

.p_myComment{
	flex: 0 0 auto;
    position: relative;
    width: 100%;
    min-height: 30%;
    height: auto;
	overflow-wrap: break-word;
	display: inline-flex;
	border-bottom: 2px solid #c7a252;
	color: #826858;
	margin-bottom: 1%;
}
.clear{
    clear: both;
}
.comment_content{
    position: relative;
    top: 19.3%;
    left: 10.5%;
    width: 66.5%;
    margin-bottom: 10%;
    float:left;
    font-size: 3.5vh;
}
.score{
    position: absolute;
    top: 30%;
    left: 75%;
    width: 20%;
    height: 10%;
    font-size: 4vh;
    text-align: right;
}
.move_name{
    position: absolute;
    bottom: 0;
    left: 10.5%;
    width: 66.5%;
    height: 3%;
    margin-bottom: 4%;
    font-size: 3.5vh;
    text-align: right;
    font-family: OurFont;
}
.like{
    position: absolute;
    left: 38%;
    width: 62%;
    height: 100%;
    overflow: hidden;
}
.voice{
    position: absolute;
    top: 0%;
    right: 1%;
    width: 6.5%;
    transition: all 0.3s linear;
    opacity: 0.7;
}
.voice:hover{
    opacity: 1;
}
.myLike{
    position: absolute;
    top: 9.2%;
    left:9.4%;
    width: 20.7%;
    height: 7%;
    color: #f2eada;
    font-size: 4vh;
}

.myMovies{
	position: absolute;
	width: 83.273%;
	height: 54.8%;
	top: 22.5%;
	left: 7.4735%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: space-between;
}
/*
	*/
.myMovies.enterFromRight{
	position: absolute;
	top: 22.5%;
	animation: enter-from-right 0.7s forwards;
}

@keyframes enter-from-right{
	0%{left: 100%;}
	100%{left: 7.4735%;}
}

.myMovies.enterFromLeft{
	position: absolute;
	top: 22.5%;
	animation: enter-from-left 0.7s forwards;
}

@keyframes enter-from-left{
	0%{left: -83.273%;}
	100%{left: 7.4735%;}
}

.leaveFromRight{
	position: absolute;
	top: 22.5%;
	left: 7.4735%;
	animation: leave-from-right 0.7s forwards;
}

@keyframes leave-from-right{
	0%{left: 7.4735%;}
	100%{left: -83.273%;}
}

.myMovies.leaveFromLeft{
	position: absolute;
	top: 22.5%;
	left: 7.4735%;
	animation: leave-from-left 0.7s forwards;
}

@keyframes leave-from-left{
	0%{left: 7.4735%;}
	100%{left: 100%;}
}
/*
 * 5.6265
 * 
 */
.like_move{
	position: relative;
	margin: 0 5.46%;
    width: 21.399%;
    height: 44.343%;
    padding: 1px;
    border:3px solid #f2eada;
	flex: 0 0 auto;
}
/*.like_move1{
    position: absolute;
    top: 22.5%;
    left:13.1%;
    width: 17.82%;
    height: 24.3%;
    padding: 1px;
    border:3px solid #f2eada;
}
.like_move2{
    position: absolute;
    top: 22.5%;
    left:40%;
    width: 17.82%;
    height: 24.3%;
    padding: 1px;
    border:3px solid #f2eada;
}
.like_move3{
    position: absolute;
    top: 22.5%;
    left: 67.3%;
    width: 17.82%;
    height: 24.3%;
    padding: 1px;
    border:3px solid #f2eada;
}
.like_move4{
    position: absolute;
    top: 53%;
    left:40%;
    width: 17.82%;
    height: 24.3%;
    border:3px solid #f2eada;
}
.like_move5{
    position: absolute;
    top: 53%;
    left:13.1%;
    width: 17.82%;
    height: 24.3%;
    padding: 1px;
    border:3px solid #f2eada;
}
.like_move6{
    position: absolute;
    top: 53%;
    left: 67.3%;
    width: 17.82%;
    height: 24.3%;
    padding: 1px;
    border:3px solid #f2eada;
}*/

.movieName{
	position: absolute;
	top: 0;
	height: 100%;
	left: 0;
	width: 100%;
	font-size: 3vh;
	text-align: center;
	opacity: 0;
	color: #f2eada;	
	transition: all 0.3 linear;
	cursor: pointer;
}

.name{
	position: absolute;
	top: 45%;
	height: 10%;
	width: 100%;
	left: 0;
}

.movieName:hover{
	opacity: 1;
	background-color: rgba(0,0,0,0.5);
}
.moveImg{
    width: 85%;
    height: 85%;
    margin: 7.5%;
}

.rightLike{
    position: absolute;
    bottom: 10%;
    right: 8%;
    width: 8%;
    z-index: 1000;
    opacity: 0.6;
    transition: all 0.3s linear;
}

.leftLike{
	position: absolute;
    bottom: 10%;
    left: 8%;
    width: 8%;
    z-index: 1000;
    opacity: 0.6;
    transition: all 0.3s linear;
}

.rightLike:hover{
	width: 9%;
	right: 7%;
}

.leftLike:hover{
	width: 9%;
	left: 7%;
}