<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title></title>
		<script src="js/vue.js"></script>
		<!--<script src="js/vuex.js"></script>-->
		<script src="js/jquery-3.3.1.min.js"></script>
		<!--引用vue.js-->

		<link rel="stylesheet" href="layui/css/layui.css">
		<link rel="stylesheet" href="css/index.css" type="text/css">
		<link rel="stylesheet" href="css/musicPlayer.css" type="text/css">
	</head>

	<body>
		<div class="container" id="myIndex">
			<div class="carousel-index" :class="carouselStyle">
				<div class="layui-carousel" style="top:-3vh;left: -3vw;" id="index-carousel">
					<div carousel-item>
						<img ondragstart='return false;' src="img/background1.jpg" />
						<img ondragstart='return false;' src="img/background2.jpg" />
						<img ondragstart='return false;' src="img/background3.jpg" />
						<img ondragstart='return false;' src="img/background4.jpg" />
						<img ondragstart='return false;' src="img/background5.jpg" />
					</div>

				</div>
			</div>
			<img ondragstart='return false;' :class="logoStyle" src="img/logo.png" />
			<img ondragstart='return false;' class="start-button" src="img/start.png" v-if="!loginning" @click="startButtonClick()" />
			<!--<img ondragstart='return false;' class="open-menu" src="img/menu.png" v-if="menuClose&&!loginning" @click="openMenu()">
			<div class="menu-index" :class="menuAnimation">
				<img ondragstart='return false;' class="close-button" src="img/x.png" @click="closeMenu()" />
			</div>-->
			<div class="login-div" v-if="loginning&&!withPhone">
				<div class="empty"></div>
				<i class="layui-icon layui-icon-username" style="position:absolute;left:2px;top:50%;font-size: 4vh; color: #826858;"></i>
				<input class="login-username" placeholder="输入用户名" v-model="userName" />
				<!--<span style="position: absolute;top: 50%;">{{message1}}</span>-->
				<i class="layui-icon layui-icon-password" style="position:absolute;left:2px;top:63%;font-size: 4vh; color: #826858;"></i>
				<input class="login-password" type="password" placeholder="输入密码" v-model="password" />
				<!--<span style="position: absolute;top: 63%;">{{message2}}</span>-->
				<button @click="login()" class="layui-btn login-button">登录</button>
				<button @click="register()" class="layui-btn register-button">注册</button>
				<a class="loginWithPhone" @click="loginWithPhone()">手机验证码登陆</a>
			</div>
			<div class="login-div" v-if="loginning&&withPhone&&!newAccount">
				<div class="empty"></div>
				<i class="layui-icon layui-icon-cellphone" style="position:absolute;left:2px;top:50%;font-size: 4vh; color: #826858;"></i>
				<input class="login-username" placeholder="输入手机号" v-model="userPhone" />
				<i class="layui-icon layui-icon-vercode" style="position:absolute;left:2px;top:63%;font-size: 4vh; color: #826858;"></i>
				<input class="login-vercode" placeholder="输入验证码" v-model="inputVercode" />
				<!--<span style="position: absolute;top: 63%;">{{message2}}</span>-->
				<button @click="loginWithVercode()" class="layui-btn login-button">登录</button>
				<button @click="getVercode(this)" :class="getVercodeStyle"  class="register-button">获取验证码{{cutDown}}</button>
				<a class="loginWithPhone" @click="loginWithAccount()">账号登陆</a>
			</div>
			<div class="login-div" v-if="newAccount">
				<div style="position:absolute;left:2px;bottom: 50%;font-size: 3vh; color: #E8E8E8;">请设置您的昵称</div>
				<input class="login-username" style="position: absolute;bottom: 33%;" placeholder="输入用户名" v-model="userName" />
				<i class="layui-icon layui-icon-username" style="position:absolute;left:2px;bottom: 34.5%;font-size: 4vh; color: #826858;"></i>
				<button class="layui-btn login-button" @click="newAccountSignUp()" style="position: absolute;bottom: 20%;">确认</button>
			</div>
			<img src="img/music.png" onclick="musicController()" class="voice" />
			<audio loop="loop">
				<source ></source>
			</audio>
			<div class="musicPlayer" id="bgmusic">
				<div class="disc"></div>
				<div class="musicName">歌名</div>
				<div class="beforeMusic" onclick="beforeMusic()"></div>
				<div class="pauseMusic" onclick="pause()"></div>
				<div class="play" onclick="play()"></div>
				<div class="nextMusic" onclick="nextMusic()"></div>
				<div class="bar">
					<div class="box"></div>

				</div>
				<div class="allVoice">
					<div class="voiceBar"></div>

				</div>
			</div>
		</div>

		<script src="layui/layui.js"></script>
		
		<script src="js/index.js"></script>
		<script src="js/musicPlayer.js"></script>
		<script>
			
		</script>
	</body>

</html>